<!-- Campuite Section -->
<section class="campuite-section">
    <div class="container">
      <div class="cards-row">
        <div class="feature-card">
          <img src="assets/images/business-man.jpg" alt="Experience">
          <h3>Experience</h3>
          <a href="#" class="learn-more">
            Learn More
            <svg viewBox="0 0 24 24">
              <path d="M9 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div class="feature-card">
            <img src="assets/images/tech-screen.jpeg" alt="Time to Market">
          <h3>Time to Market</h3>
          <a href="#" class="learn-more">
            Learn More
            <svg viewBox="0 0 24 24">
              <path d="M9 5l7 7-7 7"></path>
            </svg>
          </a>
          
        </div>
        <div class="feature-card">
            <img src="assets/images/improvements.jpg" alt="Improvement">
          <h3>Improvement</h3>
          <a href="#" class="learn-more">
            Learn More
            <svg viewBox="0 0 24 24">
              <path d="M9 5l7 7-7 7"></path>
            </svg>
          </a>
         
        </div>
      </div>
      
      <div class="campuite-info">
        <h2 class="campuite-title">Camputie provides full IT support</h2>
        <p class="campuite-text">
          Our professionals will make sure that the procedures, tools, and reporting are well planned. 
          Established in September 2007, the mission of our company has always been delivering excellence 
          and aiming to be at the forefront of high-tech. This is achieved by a personalized approach to 
          every client. We are a customer-oriented company and put our customers' needs in the center of 
          everything we do. We strive to meet and even exceed our customers' expectations and bring value 
          to their lives.
        </p>
      </div>
    </div>
  </section>
  