<!-- Business Priority Section -->
<section class="business-priority-section">
    <div class="container">
      <h2>Your business is our priority!</h2>
      <p>
        Partnering with a strategic IT company, such as TechAD, enables your organization to gain a 
        competitive advantage by focusing on your core business goals and delivering dependable solutions, 
        optimized to meet your needs. Reach out today to schedule a meeting and discover how we deliver 
        the best solutions possible.
      </p>
    </div>
  </section>


<section class="tech-experts-section">
  <div class="container">
    <div class="experts-content">
      
      <div class="experts-image">
        <img src="assets/images/team-images.jpg" alt="Tech Team">
      </div>
      <div class="experts-text">
        <h2>We're tech experts.</h2>
        <p>
          Our mission is to help organizations streamline their IT operations, enhance their 
          cybersecurity posture, and empower their teams with the latest technology. Whether 
          you're a small business or large enterprise, our expert team is dedicated to delivering 
          reliable, efficient, and secure IT support that drives your business forward.
        </p>
      </div>
    </div>
  </div>
  <!-- <div class="tech-experts-accent">
    <img src="assets/images/team-working-laptops.jpg" alt="Support Team" style="width: 700px; height: auto; 
    object-fit: none; object-position: 50px 30px; 
    border: 2px solid black;">
  </div> -->
</section>